<nav>
    <ul>
        <li>
            <a href="/">Página 1</a>
        </li>

        <li>
            <a href="/pagina2">Página 2</a>
        </li>

        <li>
            <a href="/pagina3">Página 3</a>
        </li>

        <li>    
            <a href="/pagina4">Página 4</a>    
        </li>

        <li>
            <a href="/pagina5">Página 5</a>
        </li>

        <li>
            <a href="/pagina6">Página 6</a>
        </li>
    </ul>
</nav>